Django == 1.11.1

dj-config-url == 0.1.1

dj-database-url == 0.4.2

djangorestframework == 3.6.2

googlemaps == 2.4.6

requests == 2.11.1

whitenoise == 3.3.0

psycopg2 == 2.7.1

gunicorn == 19.7.1

geopy == 1.11.0

django-extensions == 1.7.9

boto3 == 1.4.4

django-storages == 1.6.3
