// Base Style 
header,
main,
section,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

h2,h4 {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

h5 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
h6 {
    font-size: 1.2rem;
}
.plugin {
    h6 {
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }
}

// Side Nav
.side-nav {
    // Logo
    .logo-container {
        background: #546DFE;
        padding: 40px 0;
        .logo {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
            color: #fff;
            span {
                color: #F3432C;
            }
        }
        .logo:hover {
            background: none;
        }
    }
    // Nav Links 
    .nav-link {
        margin: 60px 0;
        a {
            transition: all .3s ease-in-out;
        }
        a:hover {
            background: #F3432C;
            color: #fff;
        }
    }
}

// Header 
header {
    background: #444;
    color: #fff;
    .header-text {
        padding: 50px 0;
    }
    h3 {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: #fff;
        span {
            color: #546DFE;
        }
        margin-top: 0;
    }
}