<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Delicacies - JollofBot</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/jb.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body>

    <!-- Navbar will come here -->
    <nav class="navbar navbar-ct-orange navbar-icons">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/vendor/">JollofBot</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/vendor/">
                            <i class="pe-7s-global"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-cart"></i>
                            <p>
                                Deliveries
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/vendor/deliveries/jollof/">Jollof Deliveries</a></li>
                            <li><a href="/vendor/deliveries/delicacy/">Delicacy Deliveries</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-coffee"></i>
                            <p>
                                Reservations
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/vendor/reservations/jollof/">Jollof Reservations</a></li>
                            <li><a href="/vendor/reservations/delicacy/">Delicacy Reservations</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-portfolio"></i>
                            <p>
                                Products
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/vendor/jollof/">Jollof</a></li>
                            <li><a href="/vendor/delicacies/">Delicacies</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-keypad"></i>
                            <p>
                                Account
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/vendor/profile/">Profile</a></li>
                            <li><a href="#">Analytics</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Contact Support</a></li>
                            <li class="divider"></li>
                            <li><a href="/vendor/logout/">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->

    </nav>
    <!-- end navbar -->

    <div class="wrapper">
        <div class="container">
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button type="button" class="btn btn-warning btn-round btn-fill btn-block btn-lg" data-toggle="modal" data-target="#newDelicacy">New Delicacy</button>
                </div>

            </div>
            <div class="separator"></div>
            <h1><span class="tim-note">Your Delicacies</span> <small class="subtitle">Edit your Delicacies  here.</small> </h1>
            {% for delicacy in delicacies %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-background">
                        <div class="image" style="background-image: url('{{delicacy.image.url}}'); background-position: center center; background-size: cover;">
                            <img src="{{delicacy.image.url}}" alt="..." style="display: none;">
                            <div class="filter"></div>
                        </div>
                        <div class="content">
                            <p class="category">{{delicacy.name}}</p>
                            <h4 class="title">{{delicacy.description}}</h4>
                        </div>
                        <div class="footer">
                            Price:<span class="price"> ₦ {{delicacy.price}}</span> | Delivery:
                            <span class="price"> ₦ {{delivery_price}}</span> |
                            <span class="price"> {% if delicacy.available %} Available {% else %} Not Available {% endif %}</span>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-8">
                    <form action="." method="post">
                        {% csrf_token %}

                    </form>
                    <form action="." method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" value="{{delicacy.name}}" placeholder="Delicacy Name" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input name="description" id="description" type="text" value="{{delicacy.description}}" placeholder="Delicacy Description"
                                class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="price">Delicacy Price</label>
                            <input name="price" id="price" type="text" value="{{delicacy.price}}" placeholder="1250" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="available">Available</label>
                            <div class="switch" data-on-label="Yes" data-off-label="No">
                                <input name="available" id="available" type="checkbox" {% if delicacy.available %} checked {% endif %} class="ct-orange"
                                />
                            </div>
                        </div>
                        <input type="hidden" name="pk" value="{{delicacy.pk}}">
                        <h5>{{delicacy_result}}</h5>
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-warning">Save</button>
                        </div>

                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <footer class="footer footer-big footer-transparent" style="background-image: url('/static/assets/img/jollof.jpeg')">
            <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="title">JollofBot</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">
                                    Home
                                </a>
                                </li>
                                <li>
                                    <a href="/about/">
                                    About
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="title"> Support</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/contact/">
                                   Contact Us
                                </a>
                                </li>

                                <li>
                                    <a href="/tandc/">
                                    Terms & Conditions
                                </a>
                                </li>
                                <li>
                                    <a href="/policy/">
                                    Company Policy
                                </a>
                                </li>
                                <li>
                                    <a href="/moneyback/">
                                   Money Back
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-md-4">
                        <h5 class="title">Latest News</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> <b>JollofBot</b> One tap away from Nigerian Jollof...
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> We've just been featured on <b> Techcabal Website</b>!
                                        Thank you everybody for...
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>
                <hr />
                <div class="copyright">
                    &copy; 2017 JollofBot
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="newDelicacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><span>New Delicacy</span>></h4>
                </div>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label for="deli_name">Name</label>
                                <input name="name" id="deli_name" type="text" value="" placeholder="Delicacy Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="jollof_description">Description</label>
                                <input name="description" id="jollof_description" type="text" value="" placeholder="Delicacy Description" class="form-control"
                                />
                            </div>
                            <div class="form-group">
                                <label for="jollof_price">Delicacy Price</label>
                                <input name="price" id="jollof_price" type="number" value="" placeholder="1250" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="jollof_available">Available</label>
                                <div class="switch" data-on-label="Yes" data-off-label="No">
                                    <input name="available" id="jollof_available" type="checkbox" checked class="ct-orange" />
                                </div>
                            </div>
                            </div-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<!--  jQuery and Bootstrap core files    -->
<script src="/static/assets/js/jquery.js" type="text/javascript"></script>
<script src="/static/assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="/static/assets/js/jb-checkbox.js"></script>
<script src="/static/assets/js/jb-morphing.js"></script>
<script src="/static/assets/js/jb-radio.js"></script>
<script src="/static/assets/js/jb-bootstrapswitch.js"></script>
<script src="/static/assets/js/bootstrap-select.js"></script>
<script src="/static/assets/js/bootstrap-datepicker.js"></script>
<script src="/static/assets/js/chartist.min.js"></script>
<script src="/static/assets/js/jquery.tagsinput.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--  Get Shit Done Kit PRO Core javascript 	 -->
<script src="/static/assets/js/jb.js"></script>

<!-- If you are using TypeKit.com uncomment this code otherwise you can delete it -->
<!--
    <script src="https://use.typekit.net/[your kit code here].js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    -->

<!-- If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it -->
<!-- <script src="/static/assets/js/retina.min.js"></script> -->


</html>