<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JollofBot | Just say "Jollof!"</title>
	<meta name="description" content="Food, Bot, JollofBot, Nigerian Jollof, Nigeria, Jollof Rice">
	<meta name="author" content="JollofBot">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/ico" href="/static/home/favicon.png">
	<link rel="apple-touch-icon" href="/static/home/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/home/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/home/apple-touch-icon-114x114.png">
	<link rel="image_src" href="/static/home/thumbnail.png">
	<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/home/css/style-theme.css" rel="stylesheet">
	<link href="/static/home/css/orange-style.css" rel="stylesheet">
</head>

<body>

	<!-- BEGIN Preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
	<!-- END Preloader -->

	<!-- BEGIN Navigation -->
	<div class="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12 clearfix">
					<div class="logo floatleft">
						<a href="/">
							<!--img src="/static/home/images/logo.png" alt="" title="" /-->
							<span style="font-size: 25px">JollofBot.</span>
						</a>
					</div>
					<div class="menu floatright" role="navigation">
						<ul class="clearfix">
							<li>
								<a href="#features">Features</a>
							</li>
							<li>
								<a href="#screenshots">Meals</a>
							</li>
							<li>
								<a href="#restaurants">Restaurant</a>
							</li>
							<li>
								<a href="#price">Price</a>
							</li>
							<li>
								<a href="#testimonials">Testimonials</a>
							</li>
							<li>
								<a href="#follow">Follow</a>
							</li>
						</ul>
					</div>
					<div class="toggle-nav-wrapper floatright">
						<button class="toggle-nav">
								<i class="fa fa-bars"></i>
							</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Navigation -->

	<!-- BEGIN Intro -->
	<div class="intro" id="intro">
		<div class="main-slider">
			<div class="slider-item hero-transparent">
				<div class="container">
					<div class="row">
						<div class="col-md-6 ">
							<div class="image-wrapp aligncenter">
								<img src="/static/home/images/botpreview.gif" alt="" title="" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="intro-preview">
								<h2 class="intro-title">JollofBot<br>Just say Jollof!</h2>
								<div class="intro-text">
									<p>JollofBot is a Messenger bot that helps you find the nearest place where you can buy Jollof 🍲 and other delicacies
										🥘 You can either have it delivered 🛵 to you right where you are as quick as ⚡ or get directions to the best Jollof
										you'll ever have!.</p>
								</div>
								<div class="for-btn">
									<a href="http://m.me/jollofbot/" class="btn-site btn-color" target="_blank">Start Now</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Intro -->

	<!-- BEGIN Features -->
	<div class="features anchor" id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title aligncenter">Legendary Nigerian Jollof</h2>
					<div class="sub-title-section aligncenter">Ordering or making a reservation is as simple as saying Jollof!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="features-left features-list alignright">
						<ul>
							<li>
								<!--i class="fa fa-facebook"></i-->
								<h2>👌</h2>
								<h3>Simple to use.</h3>
								<p>Finding the best place near you to dine is a simple as saying Jollof! You share your current location with us, and
									we show you restaurants nearby!
								</p>
							</li>
							<li>
								<!--i class="fa fa-paint-brush"></i-->
								<h2>⚡⚡⚡</h2>
								<h3>Flash Delivers Fast</h3>
								<p>Our delivery guy is the Flash⚡You don't believe us? just order a meal with JollofBot and see how fast it gets to
									you 😁
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4s">
					<div class="fs-image-wrapp aligncenter">
						<img src="/static/home/images/botpreview.gif" alt="" title="" />
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="features-right features-list">
						<ul>
							<li>
								<!--i class="fa fa-star-half-o"></i-->
								<h2>🍝🍷</h2>
								<h3>Make a Reservation</h3>
								<p>Easily make a reservation for Jollof Rice or any other Nigerian Delicacy at a restaurant near you with JollofBot.</p>
							</li>
							<li>
								<!--i class="fa fa-cog"></i-->
								<h2>👦🏾</h2>
								<h3>Artificially Intelligent</h3>
								<p>Yup! JollofBot is. Wanna try? Just tap on <b>Chat with Jollof</b> to chat about your favorite meal. Oh, and JB knows
									why Ghanaian Jollof can never beat Nigerian Jollof. 😎</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Features -->

	<!-- BEGIN Screenshots -->
	<div class="screenshots anchor" id="screenshots">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-title aligncenter">Pictures of Mouth Watering Meals 🤤🤤🤤</h3>
					<div class="sub-title-section aligncenter">Yup! Right below are pictures of some of the meals you can get using JollofBot.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="screen-carousel" id="screen-carousel">
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/a.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/a.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/b.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/b.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/c.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/c.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/d.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/d.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/meat.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/meat.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/fish.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/fish.jpg" alt="" title="" />
								</a>
							</div>
						</div>
						<div class="screen-item">
							<div class="screen-item-inner">
								<a href="/static/home/images/plate.jpg" class="boxer" data-gallery="gallery">
									<img src="/static/home/images/plate.jpg" alt="" title="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Screenshots -->

	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="padding:50px;">
					<h3 class="section-title aligncenter">Getting hungry, are we?</h3>
					<div class="for-btn aligncenter">
						<a href="http://m.me/jollofbot/" class="btn-site btn-color" target="_blank">Get Jollof!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- BEGIN Between -->
	<div class="between-section" id="restaurants">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title aligncenter">Are you a Restaurant?</h2>
					<div class="sub-title-section aligncenter sidepadding">JollofBot has made it easy for people to find cool places to get awesome meals. With your restaurant listed on JollofBot,
						you can receive delivery and reservation orders for you meals from the people around you. You can seamlessly manage
						these orders and view other analytics on the Vendor Dashboard. JollofBot literally puts your restaurant on the map.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="hor-img aligncenter">
						<img src="/static/home/images/placeholder-860x445.png" alt="" title="" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="for-btn aligncenter">
						<a href="/vendor/login/" class="btn-site btn-color">Log In</a>
						<a href="/vendor/signup/" class="btn-site btn-color">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Between -->

	<!-- BEGIN Benefits -->
	<div class="benefits anchor" id="benefits">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 hidden-xs">
					<div class="ver-img aligncenter">
						<img src="/static/home/images/botpreview.gif" alt="" title="" />
					</div>
				</div>
				<div class="col-md-7 col-sm-7">
					<h2 class="section-title alignright">Jollof Vendor</h2>
					<h4 class="alignright">A Messenger bot that lets you manage your presence on JollofBot.</h4>
					<div class="benefits-list alignright">
						<ul>
							<li>
								<i class="fa fa-eyedropper"></i>
								<h3>Real Time Updates</h3>
								<p>Receive real-time updates whenever a reservation is made or a delivery is requested.</p>
							</li>
							<li>
								<i class="fa fa-sliders"></i>
								<h3>View Meal Orders</h3>
								<p>Easily view pending and accepted reservations and deliveries. </p>
							</li>
							<li>
								<i class="fa fa-line-chart"></i>
								<h3>Accept & Cancel Orders</h3>
								<p>You can conveniently respond to orders for you restaurant's meals without leaving Messenger.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Benefits -->

	<!-- BEGIN Between -->
	<div class="between-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="numbers-item aligncenter">
						<div class="num-icons">
							<i class="fa fa-download"></i>
						</div>
						<div class="statistic">
							<span class="timer" data-from="0" data-to="642">642</span>
						</div>
						<div class="num-name">Reservations</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="numbers-item aligncenter">
						<div class="num-icons">
							<i class="fa fa-star"></i>
						</div>
						<div class="statistic">
							<span class="timer" data-from="0" data-to="458">458</span>
						</div>
						<div class="num-name">Deliveries</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="numbers-item aligncenter">
						<div class="num-icons">
							<i class="fa fa-thumbs-up"></i>
						</div>
						<div class="statistic">
							<span class="timer" data-from="0" data-to="87">87</span>
						</div>
						<div class="num-name">Restaurants</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="numbers-item aligncenter">
						<div class="num-icons">
							<i class="fa fa-cogs"></i>
						</div>
						<div class="statistic">
							<span class="timer" data-from="0" data-to="164">164</span>
						</div>
						<div class="num-name">Delicacies</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Between -->

	<!-- BEGIN Price -->
	<div class="price anchor" id="price">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title aligncenter">Our Price</h2>
					<div class="sub-title-section aligncenter">We want you to get the best value for your buck.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="price-item aligncenter">
						<!--div class="price-name">3 Star</div-->
						<div class="price-name"><i class="fa fa-star"></i></div>
						<div class="price-price">₦15,000</div>
						<div class="price-col">per month</div>
						<div class="price-list">
							<ul>
								<li>Enhanced Security</li>
								<li>No Time Tracking</li>
								<li>Enhanced Security</li>
							</ul>
						</div>
						<div class="price-buy">
							<a href="/vendor/signup?t=1" class="btn-site btn-color">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="price-item aligncenter toprate">
						<div class="price-name"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
						<div class="price-price">₦20,000</div>
						<div class="price-col">per month</div>
						<div class="price-list">
							<ul>
								<li>Enhanced Security</li>
								<li>No Time Tracking</li>
								<li>Enhanced Security</li>
							</ul>
						</div>
						<div class="price-buy">
							<a href="/vendor/signup?t=3" class="btn-site btn-color">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="price-item aligncenter">
						<div class="price-name"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>></div>
						<div class="price-price">₦30,000</div>
						<div class="price-col">per month</div>
						<div class="price-list">
							<ul>
								<li>Enhanced Security</li>
								<li>No Time Tracking</li>
								<li>Enhanced Security</li>
							</ul>
						</div>
						<div class="price-buy">
							<a href="/vendor/signup?t=5" class="btn-site btn-color">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Price -->

	<!-- BEGIN Testimonials -->
	<div class="between-section anchor" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title aligncenter">What people say about us</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="testimonials-carousel" id="testimonials-carousel">
						<div class="testimonials-item aligncenter">
							<div class="tst-img">
								<img src="/static/home/images/placeholder-600x600.png" alt="" title="" />
							</div>
							<div class="tst-name">Domoinic Doe</div>
							<div class="tst-text sidepadding">
								<p>Quickly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through
									resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.</p>
							</div>
						</div>
						<div class="testimonials-item aligncenter">
							<div class="tst-img">
								<img src="/static/home/images/placeholder-600x600.png" alt="" title="" />
							</div>
							<div class="tst-name">Sara Doe</div>
							<div class="tst-text sidepadding">
								<p>Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive supply
									chains with distinctive quality vectors. Globally revolutionize global sources through interoperable services.</p>
							</div>
						</div>
						<div class="testimonials-item aligncenter">
							<div class="tst-img">
								<img src="/static/home/images/placeholder-600x600.png" alt="" title="" />
							</div>
							<div class="tst-name">John Doe</div>
							<div class="tst-text sidepadding">
								<p>Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core
									competencies before process-centric communities. Dramatically evisculate holistic innovation rather than client-centric
									data.
								</p>
							</div>
						</div>
						<div class="testimonials-item aligncenter">
							<div class="tst-img">
								<img src="/static/home/images/placeholder-600x600.png" alt="" title="" />
							</div>
							<div class="tst-name">Lisa Doe</div>
							<div class="tst-text sidepadding">
								<p>Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes
									through technically sound intellectual capital. Holistically foster superior methodologies without market-driven
									best practices.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Testimonials -->

	<!-- BEGIN Follow -->
	<div class="follow anchor" id="follow">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title aligncenter">Follow Us</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="social-links-wrapper aligncenter">
						<a target="_blank" href="http://facebook.com/jollofbot/" class="fb">
							<i class="fa fa-facebook"></i>
						</a>
						<a target="_blank" href="http://instagram.com/jollofbot/" class="im">
							<i class="fa fa-instagram"></i>
						</a>
						<a target="_blank" href="http://twitter.com/jollofbot/" class="tr">
							<i class="fa fa-twitter"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Follow -->

	<!-- BEGIN Between -->
	<div class="between-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 aligncenter">
					<a href="#0">
						<img src="/static/home/images/jb1.png" alt="" title="" />
						<!--span style="font-size: 25px">JollofBot.</span-->
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END Between -->


	<script type="text/javascript" src="/static/home/js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/static/home/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/home/js/SmoothScroll.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.localscroll.min.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.scrollto.min.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.easing.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/static/home/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/static/home/js/jquery.fs.boxer.min.js"></script>
	<script type="text/javascript" src="/static/home/js/custom.js"></script>
</body>

</html>