<!DOCTYPE html>
<html>

<head>
    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="UTF-8">
    <title>Nevada - Creative Agency Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ==============================================
    CSS Files
    =============================================== -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/33f079f2f4.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/materialize-assets/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="assets/js/plugins/OwlCarousel/owl-carousel/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="assets/js/plugins/OwlCarousel/owl-carousel/owl.theme.css">
    <link type="text/css" rel="stylesheet" href="assets/js/plugins/OwlCarousel/owl-carousel/">
    <link type="text/css" rel="stylesheet" href="assets/js/plugins/lightbox2-master/dist/css/lightbox.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/main.css">

</head>

<body>
   
   
    <!-- ==============================================
    Preloader
    =============================================== -->

    <div class="preloader">
        <h2>Nevada<span>.</span></h2>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- ==============================================
    Navigation
    =============================================== -->

    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#hero" class="brand-logo page-scroll">Nevada<span>.</span></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <!-- Side Nav Links -->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#about" class="page-scroll">About</a></li>
                        <li><a href="#skills" class="page-scroll">Skills</a></li>
                        <li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
                        <li><a href="#services" class="page-scroll">Services</a></li>
                        <li><a href="#team" class="page-scroll">Team</a></li>
                        <li><a href="#pricing" class="page-scroll">Price</a></li>
                        <li><a href="#blog" class="page-scroll">Blog</a></li>
                        <li><a href="#contact" class="page-scroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- ==============================================
    Parallax Banner
    =============================================== -->

    <div id="parallax" class="full-screen">
        <div class="hero-caption">
            <div class="hero-text">
                <h2>A Creative</h2>
                <h1>Design Studio</h1>
                <a class="waves-effect waves-light btn-large btn-secondary">Purchase</a>
                <a class="waves-effect waves-light btn-large btn-white">learn More</a>
            </div>
        </div>
    </div>

    <!-- ==============================================
    About Us
    =============================================== -->

    <section id="about">
        <div class="container">
            <div class="row">
                <h2>About Us<span>.</span></h2>

                <!-- About Promotion Table -->
                <div class="col s12 m6 l3">
                    <i class="medium material-icons icon-box z-depth-1 hoverable">lightbulb_outline</i>
                    <h5>We're Creative</h5>
                    <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum.</p>
                </div>
                <div class="col s12 m6 l3">
                    <i class="medium material-icons icon-box z-depth-1 hoverable">alarm_on</i>
                    <h5>We're Punctual</h5>
                    <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum.</p>
                </div>
                <div class="col s12 m6 l3">
                    <i class="medium material-icons icon-box z-depth-1 hoverable">chat_bubble_outline</i>
                    <h5>We're Friendly</h5>
                    <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum.</p>
                </div>
                <div class="col s12 m6 l3">
                    <i class="medium material-icons icon-box z-depth-1 hoverable">done_all</i>
                    <h5>We're Reliable</h5>
                    <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Testimonials & Skills
    =============================================== -->

    <section id="skills">
        <div class="row">
            <div class="col l6 s12">
                <!-- Testimonials -->
                <div class="testimonials">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/img/Testimonials/client1.jpg" class="circle responsive-img" alt="client1">
                            <p class="quote">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <h5>John Doe</h5>
                        </div>
                        <div class="item">
                            <img src="assets/img/Testimonials/client2.jpg" class="circle responsive-img" alt="client2">
                            <p class="quote">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <h5>Mike Doe</h5>
                        </div>
                        <div class="item">
                            <img src="assets/img/Testimonials/client3.jpg" class="circle responsive-img" alt="client3">
                            <p class="quote">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <h5>Jason Doe</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Skills -->
            <div class="col l6 s12">
                <div class="skills">
                    <h4>Our Skills<span>.</span></h4>
                    <h6>Design</h6>
                    <div class="progress">
                        <span>90%</span>
                        <div class="determinate" style="width: 90%"></div>
                    </div>
                    <h6>Development</h6>
                    <div class="progress">
                        <span>60%</span>
                        <div class="determinate" style="width: 60%"></div>
                    </div>
                    <h6>Branding</h6>
                    <div class="progress">
                        <span>80%</span>
                        <div class="determinate" style="width: 80%"></div>
                    </div>
                    <h6>Photography</h6>
                    <div class="progress">
                        <span>50%</span>
                        <div class="determinate" style="width: 50%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Portfolio
    =============================================== -->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <h2>Portfolio<span>.</span></h2>
                <!-- Portfolio Filtre -->

                <ul class="tabs z-depth-1">
                    <li class="tab col s12 m6 l3"><a href="#" class="filter" data-filter="all">All</a></li>
                    <li class="tab col s12 m6 l3"><a href="#" class="filter" data-filter=".category-1">Design</a></li>
                    <li class="tab col s12 m6 l3"><a href="#" class="filter" data-filter=".category-2">Development</a></li>
                    <li class="tab col s12 m6 l3"><a href="#" class="filter" data-filter=".category-3">Photography</a></li>
                </ul>

                <div id="portfolio-items">
                    <div class="mix portfolio-item col l4 category-1" data-myorder="1">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work1">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://placehold.it/800x600/F3432C/000" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item col l4 category-1" data-myorder="2">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work2">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://placehold.it/800x600/F3432C/000" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item col l4 category-2" data-myorder="3">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work3">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://placehold.it/800x600/F3432C/000" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item col l4 category-2" data-myorder="4">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work4">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://placehold.it/800x600/F3432C/000" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item col l4 category-1" data-myorder="5">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work5">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="assets/img/Portfolio/work5.png" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item col l4 category-3" data-myorder="6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/800x600/F3432C/000" alt="work6">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://placehold.it/800x600/F3432C/000" class="portfolio-box" data-lightbox="roadtrip">Take a Look</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Fun Facts 
    =============================================== -->
    <section id="fun-facts">
        <div class="container">
            <div class="row">
                <h2>Fun Facts<span>.</span></h2>
                <div class="facts-holder">
                    <div class="col s12 m6 l3">
                        <i class="medium material-icons icon-box z-depth-1 hoverable">sentiment_satisfied</i>
                        <span class="timer">367</span>
                        <h5>Happy Clients</h5>
                    </div>
                    <div class="col s12 m6 l3">
                        <i class="medium material-icons icon-box z-depth-1 hoverable">code</i>
                        <span class="timer">15709</span>
                        <h5>Lines Of Code</h5>
                    </div>
                    <div class="col s12 m6 l3">
                        <i class="medium material-icons icon-box z-depth-1 hoverable">verified_user</i>
                        <span class="timer">150</span>
                        <h5>Project Done</h5>
                    </div>
                    <div class="col s12 m6 l3">
                        <i class="medium material-icons icon-box z-depth-1 hoverable">class</i>
                        <span class="timer">64</span>
                        <h5>Design Award</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Services
    =============================================== -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <img src="assets/img/services.png" class="responsive-img" alt="service">
                </div>
                <div class="col l6 s12">
                    <div class="services-content">
                        <h2>Service<span>.</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet perspiciatis.</p>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">laptop_mac</i>Web Design</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">code</i>Web Development</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">grade</i>Branding</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">camera_enhance</i>Photography</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Process
    =============================================== -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="process-content">
                        <h2>Process<span>.</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet perspiciatis.</p>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">forum</i>Discuss</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">assignment</i>Sketch</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">work</i>Create</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">launch</i>Publish</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l6 s12">
                    <img src="assets/img/process.png" class="responsive-img" alt="service">
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Team
    =============================================== -->
    <section id="team">
        <div class="container">
            <div class="row">
                <h2>Our Team<span>.</span></h2>
                <div class="team-content">
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/600x692/546DFE/000" alt="team1">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Jason Doe<i class="material-icons right">more_vert</i></span>
                                <ul class="social-media">
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">CEO<i class="material-icons right">close</i></span>
                                <div class="skills">
                                    <h5>Skills</h5>
                                    <h6>Design</h6>
                                    <div class="progress">
                                        <span>70%</span>
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                    <h6>Development</h6>
                                    <div class="progress">
                                        <span>90%</span>
                                        <div class="determinate" style="width: 90%"></div>
                                    </div>
                                    <h6>Branding</h6>
                                    <div class="progress">
                                        <span>40%</span>
                                        <div class="determinate" style="width: 40%"></div>
                                    </div>
                                    <h6>Photography</h6>
                                    <div class="progress">
                                        <span>67%</span>
                                        <div class="determinate" style="width: 67%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/600x692/546DFE/000" alt="team2">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Lara Doe<i class="material-icons right">more_vert</i></span>
                                <ul class="social-media">
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Developer<i class="material-icons right">close</i></span>
                                <div class="skills">
                                    <h5>Skills</h5>
                                    <h6>Design</h6>
                                    <div class="progress">
                                        <span>53%</span>
                                        <div class="determinate" style="width: 53%"></div>
                                    </div>
                                    <h6>Development</h6>
                                    <div class="progress">
                                        <span>97%</span>
                                        <div class="determinate" style="width: 97%"></div>
                                    </div>
                                    <h6>Branding</h6>
                                    <div class="progress">
                                        <span>43%</span>
                                        <div class="determinate" style="width: 43%"></div>
                                    </div>
                                    <h6>Photography</h6>
                                    <div class="progress">
                                        <span>62%</span>
                                        <div class="determinate" style="width: 62%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://placehold.it/600x692/546DFE/000" alt="team3">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Mike Doe<i class="material-icons right">more_vert</i></span>
                                <ul class="social-media">
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <a href="#" class="btn-floating waves-effect waves-light btn-primary"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Designer<i class="material-icons right">close</i></span>
                                <div class="skills">
                                    <h5>Skills</h5>
                                    <h6>Design</h6>
                                    <div class="progress">
                                        <span>98%</span>
                                        <div class="determinate" style="width: 98%"></div>
                                    </div>
                                    <h6>Development</h6>
                                    <div class="progress">
                                        <span>35%</span>
                                        <div class="determinate" style="width: 35%"></div>
                                    </div>
                                    <h6>Branding</h6>
                                    <div class="progress">
                                        <span>24%</span>
                                        <div class="determinate" style="width: 24%"></div>
                                    </div>
                                    <h6>Photography</h6>
                                    <div class="progress">
                                        <span>82%</span>
                                        <div class="determinate" style="width: 82%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    NewsLetter
    =============================================== -->
    <section id="newsletter">
        <div class="container">
            <div class="row">
                <h2>Newsletter<span>.</span></h2>
                <form class="col s12">
                    <div class="input-field col l9 s12">
                        <input id="newsletter-form" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                    <button class="waves-effect waves-light btn-large btn-secondary" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Pricing Table
    =============================================== -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <h2>Our Pricing<span>.</span></h2>
                <div class="col l4 s12">

                    <!-- START PRICING PLAN -->
                    <div class="card pricing style-1">

                        <!-- START PRICE INFO DIV. -->
                        <!-- CHANGE COLOR BY CHANGING LAST 2 CLASSES (teal lighten-1) AVAILABLE COLOR CLASSES LISTED HERE http://materializecss.com/color.html -->
                        <div class="price waves-effect waves-block waves-light primary-color">
                            <h4 class="white-text">
                                <span class="currency">$</span>
                                <span class="amount">49</span>
                                <span class="period">/mo</span>
                            </h4>
                        </div>
                        <!-- END PRICE INFO DIV -->

                        <div class="card-content">

                            <!-- START FEATURE LIST -->
                            <ul class="collection">
                                <li class="collection-item center-align"><strong>BASIC</strong></li>
                                <li data-tooltip="Dedicated support team available 24/7" data-delay="10" data-position="top" class="collection-item tooltipped"><b>24/7</b> Support <i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"><b>1TB</b> Bandwidth</li>
                                <li data-tooltip="On demand increase anytime with extra fee" data-delay="10" data-position="top" class="collection-item tooltipped"><b>10GB</b> Hosting Space <i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"><b>1GB</b> Memory</li>
                                <li class="collection-item"><b>10</b> Free Domain</li>
                                <li class="collection-item">User Analytics</li>
                            </ul>
                            <!-- END FEATURE LIST -->

                            <!-- START SIGN UP BUTTON -->
                            <div class="plan-signup-btn">
                                <a class="btn-primary btn waves-effect waves-block waves-light no-margin" href="#">Sign Up</a>
                            </div>
                            <!-- END SIGN UP BUTTON -->

                        </div>

                    </div>
                    <!-- END PRICING PLAN -->

                </div>
                <!-- FEATURED PLAN ( USE EXTRA CLASS z-depth-3 TO RAISE FEATURED PLAN )-->
                <div class="col l4 s12">

                    <!-- START PRICING PLAN -->
                    <div class="card pricing style-1 z-depth-4">

                        <!-- START PRICE INFO DIV. -->
                        <div class="price waves-effect waves-block waves-light featured">
                            <h4 class="white-text">
                                <span class="currency">$</span>
                                <span class="amount">99</span>
                                <span class="period">/mo</span>
                            </h4>
                        </div>
                        <!-- END PRICE INFO DIV. -->

                        <div class="card-content">

                            <!-- START FEATURE LIST -->
                            <ul class="collection">
                                <li class="collection-item center-align"><strong>POPULAR</strong></li>
                                <li data-tooltip="Dedicated support team available 24/7" data-delay="10" data-position="top" class="collection-item tooltipped"><b>24/7</b> Support <i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"><b>3TB</b> Bandwidth</li>
                                <li data-tooltip="On demand increase anytime with extra fee" data-delay="10" data-position="top" class="collection-item tooltipped"><b>50GB</b> Hosting Space <i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"><b>8GB</b> Memory</li>
                                <li class="collection-item"><b>50</b> Free Domain</li>
                                <li class="collection-item">User Analytics</li>
                            </ul>
                            <!-- END FEATURE LIST -->

                            <!-- START SIGN UP BUTTON -->
                            <div class="plan-signup-btn">
                                <a class="btn-large waves-effect waves-block waves-light no-margin btn-secondary" href="#">Sign Up</a>
                            </div>
                            <!-- END SIGN UP BUTTON -->

                        </div>
                    </div>
                    <!-- END PRICING PLAN -->

                </div>

                <div class="col l4 s12">

                    <!-- START PRICING PLAN -->
                    <div class="card pricing style-1">

                        <!-- START PRICE INFO DIV. -->
                        <div class="price waves-effect waves-block waves-light primary-color">
                            <h4 class="white-text">
                                <span class="currency">$</span>
                                <span class="amount">199</span>
                                <span class="period">/mo</span>
                            </h4>
                        </div>
                        <!-- END PRICE INFO DIV. -->

                        <div class="card-content">

                            <!-- START FEATURE LIST -->
                            <ul class="collection">
                                <li class="collection-item center-align"><strong>PREMIUM</strong></li>
                                <li data-tooltip="Dedicated support team available 24/7" data-delay="10" data-position="top" class="collection-item tooltipped"><b>24/7</b> Support<i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"> <b>5TB</b> Bandwidth</li>
                                <li data-tooltip="On demand increase anytime with extra fee" data-delay="10" data-position="top" class="collection-item tooltipped"><b>100GB</b> Hosting Space <i class="mdi-action-info-outline right"></i></li>
                                <li class="collection-item"><b>16GB</b> Memory</li>
                                <li class="collection-item"><b>100</b> Free Domain</li>
                                <li class="collection-item">User Analytics</li>
                            </ul>
                            <!-- END FEATURE LIST -->

                            <!-- START SIGN UP BUTTON -->
                            <div class="plan-signup-btn">
                                <a class="btn waves-effect waves-block waves-light no-margin white-text btn-primary" href="">Sign Up</a>
                            </div>
                            <!-- END SIGN UP BUTTON -->

                        </div>
                    </div>
                    <!-- END PRICING PLAN -->

                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Blog
    =============================================== -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <h2>Our Blog<span>.</span></h2>
                <!-- Blog Posts -->
                <div class="blog-post">
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog1">
                                <span class="card-title">11 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog2">
                                <span class="card-title">18 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog3">
                                <span class="card-title">25 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog4">
                                <span class="card-title">26 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog5">
                                <span class="card-title">27 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="http://placehold.it/600x600/F3432C/000" alt="blog6">
                                <span class="card-title">28 May 2016</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">forum</i>5 comments</a>
                                <a href="#" class="right"><i class="material-icons">favorite</i>12</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Contact us
    =============================================== -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <img src="assets/img/contact.png" class="responsive-img" alt="contact">
                </div>
                <div class="col l6 s12">
                    <div class="contact-content">
                        <h2>Contact Us<span>.</span></h2>
                        <form>
                            <div class="input-field">
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix" data-error="wrong" data-success="right">Name</label>
                            </div>
                            <div class="input-field">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <textarea id="textarea1" class="materialize-textarea validate"></textarea>
                                <label for="textarea1" data-error="wrong" data-success="right">Message</label>
                            </div>
                            <button class="waves-effect waves-light btn-large btn-secondary" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================
    Google Map
    =============================================== -->
    <div id="map"></div>

    <!-- ==============================================
    Footer
    =============================================== -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h2 class="white-text">Nevada<span>.</span></h2>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3 page-scroll" href="#about">About</a></li>
                        <li><a class="grey-text text-lighten-3 page-scroll" href="#skills">Skills</a></li>
                        <li><a class="grey-text text-lighten-3 page-scroll" href="#portfolio">Portfolio</a></li>
                        <li><a class="grey-text text-lighten-3 page-scroll" href="#blog">Blog</a></li>
                        <li><a class="grey-text text-lighten-3 page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Your Company Name.</a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/materialize-assets/js/materialize.min.js"></script>
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="assets/js/plugins/jquery.easing.min.js"></script>
    <script type=text/javascript src="assets/js/plugins/OwlCarousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/lightbox2-master/dist/js/lightbox.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/countTo/jquery.countTo.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript" src="assets/js/custom.js"></script>
</body>

</html>