<html>

<head>
    <title>Pay Now - JollofBot</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
</head>

<body>
    <div class="weui-flex">
        {% if wrong_code %}
        <div class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-warn weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Wrong Code</h2>
                    <p class="weui-msg__desc">This code does not exist.
                    </p>
                </div>

            </div>
        </div>
        {% elif already_paid %}
        <div class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-info weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Already Paid</h2>
                    <p class="weui-msg__desc">This order has been paid for. Enjoy your meal :)
                    </p>
                </div>

            </div>
        </div>
        {% else %}
        <div class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-success weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Pay N{{amount}}</h2>
                    <p class="weui-msg__desc">{{custom_description}}
                    </p>
                </div>
                <div class="weui-msg__opr-area">
                    <button id="submit" class="weui-btn weui-btn_primary">Pay Now</button>
                    <script type="text/javascript" src="https://rave-api-v2.herokuapp.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                </div>
            </div>



        </div>
        {% endif %}

    </div>
    <div class="weui-footer">
        <p class="weui-footer__text">Copyright © 2017 JollofBot.com</p>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script> {% if process %}

    <script>
        (function (doc, script, domId) {
            var js, fjs = doc.getElementsByTagName(script)[0];
            if (doc.getElementById(domId)) {
                return;
            }
            js = doc.createElement(script);
            js.id = domId;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        window.extAsyncInit = function () {
            // the Messenger Extensions JS SDK is done loading
            MessengerExtensions.getUserID(function success(uids) {
                // do your stuff here
                console.log("We are ready");
            }, function error(err) {
                // do your stuff here
                console.log("We failed to load");
            });
        };
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("submit").addEventListener("click", function (e) {
                var PBFKey = "{{PBFPubKey}}";

                getpaidSetup({
                    PBFPubKey: PBFKey,
                    customer_email: "{{customer_email}}",
                    customer_firstname: "{{customer_firstname}}",
                    customer_lastname: "{{customer_lastname}}",
                    custom_description: "{{custom_description}}",
                    custom_logo: "{{custom_logo}}",
                    custom_title: "{{custom_title}}",
                    amount: parseInt("{{ amount }}"),
                    customer_phone: "{{customer_phone}}",
                    country: "NG",
                    currency: "NGN",
                    payment_method: "both",
                    txref: "{{txref}}",
                    integrity_hash: "{{integrity_hash}}",
                    onclose: function () { },
                    callback: function (response) {
                        var flw_ref = response.tx.flwRef; // collect flwRef returned and pass to a server page to complete status check.
                        console.log("This is the response returned after a charge", response);
                        if (
                            response.tx.chargeResponseCode == "00" ||
                            response.tx.chargeResponseCode == "0"
                        ) {
                            // redirect to a success page
                            $.ajax({
                                url: "/thankyou",
                                data: { "code": "{{code}}", "flwref": flw_ref },
                                success: function (response) {
                                    MessengerExtensions.requestCloseBrowser(function success() {
                                        // webview closed
                                    }, function error(err) {
                                        // an error occurred
                                    });
                                },
                                error: function (xhr) {
                                    //Do Something to handle error
                                }
                            });
                        } else {
                            // redirect to a failure page.
                            $.ajax({
                                url: "/failed",
                                data: { "code": "{{code}}", "flwref": flw_ref },
                                success: function (response) {
                                    MessengerExtensions.requestCloseBrowser(function success() {
                                        // webview closed
                                    }, function error(err) {
                                        // an error occurred
                                    });
                                },
                                error: function (xhr) {
                                    //Do Something to handle error
                                }
                            });
                        }
                    }
                });
            });
        });
    </script> {% endif %}
</body>

</html>