<html>

<head>
    <title>Pay Now - JollofBot</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/home/css/style-theme.css" rel="stylesheet">
    <link href="/static/home/css/orange-style.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="ravepay">
        <row>
            <div class="col-md-6 col-md-offset-4">
                {% if wrong %}
                <h3>This code does not exist</h3>
                {% elif already_paid %}
                <h3>This order has been paid for. Enjoy your meal :)</h3>
                {% else %}
                <form>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" style="cursor:pointer;" value="Pay Now" id="submit">Pay Now</button>
                        </div>
                    </div>
                    <script type="text/javascript" src="http://flw-pms-dev.eu-west-1.elasticbeanstalk.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                    <div class="clearfix"></div>
                </form>
                {% endif %}
            </div>
        </row>

    </div>
    <script type="text/javascript" src="/static/home/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/static/home/js/bootstrap.min.js"></script> {% if process %}

    <script>
        (function (doc, script, domId) {
            var js, fjs = doc.getElementsByTagName(script)[0];
            if (doc.getElementById(domId)) {
                return;
            }
            js = doc.createElement(script);
            js.id = domId;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        window.extAsyncInit = function () {
            // the Messenger Extensions JS SDK is done loading
            MessengerExtensions.getUserID(function success(uids) {
                // do your stuff here
                console.log("We are ready");
            }, function error(err) {
                // do your stuff here
                console.log("We failed to load");
            });
        };
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("submit").addEventListener("click", function (e) {
                var PBFKey = "{{PBFPubKey}}";

                getpaidSetup({
                    PBFPubKey: PBFKey,
                    customer_firstname: "{{customer_firstname}}",
                    customer_lastname: "{{customer_lastname}}",
                    custom_description: "{{custom_description}}",
                    custom_logo: "{{custom_logo}}",
                    custom_title: "{{custom_title}}",
                    amount: parseInt("{{ amount }}"),
                    customer_phone: "{{customer_phone}}",
                    country: "NG",
                    currency: "NGN",
                    payment_method: "both",
                    txref: "{{txref}}",
                    integrity_hash: "{{integrity_hash}}",
                    onclose: function () { },
                    callback: function (response) {
                        var flw_ref = response.tx.flwRef; // collect flwRef returned and pass to a server page to complete status check.
                        console.log("This is the response returned after a charge", response);
                        if (
                            response.tx.chargeResponseCode == "00" ||
                            response.tx.chargeResponseCode == "0"
                        ) {
                            // redirect to a success page
                            $.ajax({
                                url: "/thankyou",
                                data: { "code": "{{code}}", "flwref": flw_ref },
                                success: function (response) {
                                    MessengerExtensions.requestCloseBrowser(function success() {
                                        // webview closed
                                    }, function error(err) {
                                        // an error occurred
                                    });
                                },
                                error: function (xhr) {
                                    //Do Something to handle error
                                }
                            });
                        } else {
                            // redirect to a failure page.
                            $.ajax({
                                url: "/failed",
                                data: { "code": "{{code}}", "flwref": flw_ref },
                                success: function (response) {
                                    MessengerExtensions.requestCloseBrowser(function success() {
                                        // webview closed
                                    }, function error(err) {
                                        // an error occurred
                                    });
                                },
                                error: function (xhr) {
                                    //Do Something to handle error
                                }
                            });
                        }
                    }
                });
            });
        });
    </script> {% endif %}
</body>

</html>