<html>

<head>
    <title>Pay Now - JollofBot</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
</head>

<body>
    <div class="weui-flex">
        {% if wrong_code %}
        <div class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-warn weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Wrong Code</h2>
                    <p class="weui-msg__desc">This code does not exist.
                    </p>
                </div>

            </div>
        </div>
        {% elif already_paid %}
        <div class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-info weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Already Paid</h2>
                    <p class="weui-msg__desc">This order has been paid for. Enjoy your meal :)
                    </p>
                </div>

            </div>
        </div>
        {% else %}
        <div id="pay_div" class="weui-flex__item">
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-success weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">Pay N{{amount}}</h2>
                    <p class="weui-msg__desc">{{custom_description}}
                    </p>
                </div>
                <div class="weui-msg__opr-area">
                    <button id="submit" class="weui-btn weui-btn_primary">Pay Now</button>
                    <script type="text/javascript" src="https://rave-api-v2.herokuapp.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                </div>
            </div>



        </div>
        {% endif %}

    </div>
    <div class="weui-footer">
        <p class="weui-footer__text">Copyright © 2017 JollofBot.com</p>
    </div>
    {% if process %}

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("submit").addEventListener("click", function (e) {
                var PBFKey = "{{PBFPubKey}}";

                getpaidSetup({
                    PBFPubKey: PBFKey,
                    customer_email: "{{customer_email}}",
                    customer_firstname: "{{customer_firstname}}",
                    customer_lastname: "{{customer_lastname}}",
                    custom_description: "{{custom_description}}",
                    custom_logo: "{{custom_logo}}",
                    custom_title: "{{custom_title}}",
                    amount: parseInt("{{ amount }}"),
                    customer_phone: "{{customer_phone}}",
                    country: "NG",
                    currency: "NGN",
                    payment_method: "both",
                    txref: "{{txref}}",
                    integrity_hash: "{{integrity_hash}}",
                    onclose: function () { },
                    callback: function (response) {
                        var flw_ref = response.tx.flwRef; // collect flwRef returned and pass to a server page to complete status check.
                        console.log("This is the response returned after a charge", response);
                        if (
                            response.tx.chargeResponseCode == "00" ||
                            response.tx.chargeResponseCode == "0"
                        ) {
                            // redirect to a success page
                            var xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function () {
                                if (this.readyState == 4 && this.status == 200) {
                                    console.log('xhttp thank you 200');
                                    document.getElementById("pay_div").innerHTML = '<div class="weui-msg">< div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div ><div class="weui-msg__text-area"><h2 class="weui-msg__title">Payment Successful!</h2><p class="weui-msg__desc">You have paid for {{custom_description}} You may close this tab now. Enjoy your meal :)</p></div></div > ';
                                }
                            };
                            xhttp.open("GET", "/thankyou?code={{code}}&flwref=" + flw_ref, true);
                            xhttp.send();
                            console.log('xhttp thnk you sent');
                        } else {
                            // redirect to a failure page.
                            var xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function () {
                                if (this.readyState == 4 && this.status == 200) {
                                    document.getElementById("pay_div").innerHTML = '<div class="weui-msg">< div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div ><div class="weui-msg__text-area"><h2 class="weui-msg__title">Payment Failed!</h2><p class="weui-msg__desc">Something went wrong with your payment. Please say Jollof to talk to a customer rep and quote your order code {{code}}</p></div></div > ';
                                }
                            };
                            xhttp.open("GET", "/failed?code={{code}}&flwref=" + flw_ref, true);
                            xhttp.send();
                        }
                    }
                });
            });
        });
    </script> {% endif %}
</body>

</html>